@media (max-width: 768px) {
    .select2-search--dropdown {
        padding: 0!important;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        border: 1px solid #ffa9a9!important;
        border-radius: 5px!important;
        box-shadow: none!important;
    }

    .select2-container--open .select2-dropdown--below {
        border: none!important;
    }

    .select2-results {
        border: 1px solid rgba(19, 19, 19, 0.2)!important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
        background-color: #F24342!important;
    }

    fieldset {
        background-color: transparent!important;
    }
}